<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.chrisbailey.todo" android:versionCode="7"
	android:versionName="1.5" android:installLocation="internalOnly">

	<supports-screens android:smallScreens="true"
		android:normalScreens="true" android:largeScreens="true" />

	<uses-sdk android:minSdkVersion="3" />

	<uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
	<uses-permission android:name="android.permission.BIND_APPWIDGET" />

	<application android:icon="@drawable/icon" android:label="@string/app_name">

		<activity android:name="ToDoActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.Dialog" />

		<activity android:name="PreferencesActivity" android:label="@string/app_name" />

		<activity android:name=".config.WidgetConfiguration" android:icon="@drawable/icon_configure"
			android:label="@string/config_activity_name" android:finishOnTaskLaunch="true" android:noHistory="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<receiver android:name="SmallToDoWidget" android:label="@string/app_name_2x1">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget2x1" />
		</receiver>

		<receiver android:name="ToDoWidgetProvider" android:label="@string/app_name_2x2">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget2x2" />
		</receiver>

		<receiver android:name="MediumToDoWidget" android:label="@string/app_name_2x3">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget2x3" />
		</receiver>

		<receiver android:name="LargeToDoWidget" android:label="@string/app_name_2x4">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget2x4" />
		</receiver>

		<receiver android:name="ToDoWidget1x1" android:label="@string/app_name_1x1">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget1x1" />
		</receiver>

		<receiver android:name="ToDoWidget1x2" android:label="@string/app_name_1x2">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget1x2" />
		</receiver>

		<receiver android:name="ToDoWidget1x3" android:label="@string/app_name_1x3">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget1x3" />
		</receiver>

		<receiver android:name="ToDoWidget1x4" android:label="@string/app_name_1x4">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget1x4" />
		</receiver>

		<receiver android:name="ToDoWidget3x1" android:label="@string/app_name_3x1">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget3x1" />
		</receiver>

		<receiver android:name="ToDoWidget3x2" android:label="@string/app_name_3x2">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget3x2" />
		</receiver>

		<receiver android:name="ToDoWidget3x3" android:label="@string/app_name_3x3">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget3x3" />
		</receiver>

		<receiver android:name="ToDoWidget3x4" android:label="@string/app_name_3x4">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget3x4" />
		</receiver>
		
		<receiver android:name="ToDoWidget4x1" android:label="@string/app_name_4x1">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget4x1" />
		</receiver>

		<receiver android:name="ToDoWidget4x2" android:label="@string/app_name_4x2">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget4x2" />
		</receiver>

		<receiver android:name="ToDoWidget4x3" android:label="@string/app_name_4x3">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget4x3" />
		</receiver>

		<receiver android:name="ToDoWidget4x4" android:label="@string/app_name_4x4">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="android.appwidget.action.ACTION_APPWIDGET_DELETED" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/todowidget4x4" />
		</receiver>


	</application>

</manifest> 